@use "./abstracts/index"as *;

.tf-countdown {
    &.style-defaut {
        text-transform: uppercase;

        .countdown__timer {
            display: flex;
            gap: 4px;
        }
    }
}

.box-icon_v01 {
    display: flex;
    align-items: center;
    gap: 24px;

    @include res(sm) {
        justify-content: center;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border: 1px solid var(--Line);
        border-radius: 50%;
        font-size: 42px;
    }

    &.style-col {
        flex-direction: column;
        text-align: center;
        gap: 36px;

        .icon {
            width: unset;
            height: unset;
            border: unset;
            font-size: 64px;
        }

        @include res(sm, min) {
            align-items: start;
            text-align: start;
        }

    }
}

.collection-item {
    &.style-default {
        .img-style {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title {
            font-size: 16px;
            line-height: 34px;
        }
    }

    &.style-1 {
        .btn_link {
            padding: 4px 0;
        }
    }
}

.wrap-category-text {
    display: flex;
    flex-wrap: wrap;
    gap: 67px 100px;
    justify-content: center;

    @include res(xl) {
        gap: 40px;
    }

    @include res(lg) {
        gap: 18px 15px;
    }
}

.category-text {
    display: flex;
    gap: 14px;
    text-transform: uppercase;
    color: var(--Secondary);
    opacity: 0.5;
    @include transition5();

    .sub {
        @include res(xl, min) {
            line-height: 32px;
        }
    }

    &:hover {
        opacity: 1;
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    display: flex;

    .box-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--Secondary);
        position: absolute;
        z-index: 2;
        @include center;
        @include flex(center, center);
        color: var(--White);
        font-size: 20px;

        &:hover {
            background-color: var(--White);
            color: var(--Secondary);
        }
    }

    .image {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            inset: 0;
            backdrop-filter: blur(10px);
            background: #ffffff1a;
            opacity: 0;
            @include transition5();
        }
    }

    &:hover {
        .image {
            &::after {
                opacity: 1;
            }
        }
    }

    @include res(lg, min) {
        .box-icon {
            @include hidden;
        }

        &:hover {
            .box-icon {
                @include visible;
            }
        }
    }

    @include res(xl, min) {
        .box-icon {
            width: 64px;
            height: 64px;
        }
    }
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    .img-style {
        border-radius: 50%;
        overflow: hidden;
    }

    &.style-2 {

        gap: 23px;

        .img-style {
            border-radius: unset;
            overflow: hidden;
        }

        .link {
            @include transition3();

            span {
                margin-right: -26px;
            }

            i {
                margin-top: 8px;
                font-size: 12px;
                opacity: 0;
            }

            &:hover {
                span {
                    margin-right: 0;
                }

                i {
                    opacity: 1;
                }
            }
        }
    }
}

.count-down_v01 {
    padding: 16px 8px;
    border: 1px solid #b5b5b5;

    .countdown__timer {
        display: flex;
        gap: 13px;
    }

    .countdown__item {
        width: 102px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        @include res(md) {
            width: 66px;
        }
    }

    .countdown__value {
        color: var(--Primary);
        margin-bottom: 4px;
    }

    .countdown__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--Secondary);
    }

    .countdown__custom--element {
        width: 4px;
        position: relative;
    }

    .countdown__custom--css {
        height: 16px;
        display: block;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--Secondary);
        }

        &::after {
            top: 0;
        }

        &::before {
            bottom: 0;
        }
    }

    @include res(xl, min) {


        .countdown__custom--element {
            width: 6px;
        }

        .countdown__custom--css {
            height: 16px;

            &::after,
            &::before {
                width: 3px;
                height: 3px;
            }
        }
    }

    @include res(sm) {
        .countdown__timer {
            gap: 8px;
        }
    }
}

.count-down_v02 {
    background-color: var(--White);

    .countdown__timer {
        display: inline-flex;
        gap: 2px;
        padding: 16px 32px;
        border: 1px solid #FFFFFF66;
    }

    .countdown__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        min-width: 40px;

        &:last-child {

            @include res(xxl, min) {
                min-width: 50px;
            }

            @include res(xxxl, min) {
                min-width: 60px;
            }
        }
    }

    .countdown__value {
        font-size: clamp(30px, 3vw, 48px);
        line-height: clamp(40px, 3.5vw, 60px);
        color: var(--primary);
        font-weight: 500;
    }

    .countdown__custom {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        text-align: center;
        text-transform: capitalize;
        margin-top: 14px;
        min-width: 10px;

        @include res(sm, min) {
            min-width: 25px;
        }

        @include res(xl, min) {
            .countdown__custom {
                margin-top: 15px;
            }
        }

        @include res(xxl, min) {
            line-height: 30px;
        }
    }


    .countdown__label {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }
}

.colection-item {
    &.style-1 {
        position: relative;

        .img-style {
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                position: absolute;
                inset: 0;
                content: "";
                background: #00000033;
            }
        }

        .content {
            position: absolute;
            @include center();
            z-index: 1;
        }

        .title {
            margin-bottom: 13px;
        }

        .tf-btn {
            margin-top: 40px;
        }
    }

    &.style-2 {
        position: relative;

        .content {
            padding: 40px 40px 42px;
            background-color: var(--Primary);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 30px;
            min-height: 326px;

            @include res(md, min) {
                min-height: 350px;
            }

            @include res(llg, min) {
                min-height: 435px;
            }

            @include res(xl) {
                padding: 40px 15px 42px;
            }

            a {
                gap: 24px;
                --underline-height: 1px;

                i {
                    font-size: 14px;
                }
            }
        }

        .img-style {
            @include res(lg) {
                max-height: 350px;
            }

            @include res(md) {
                max-height: 325px;
            }
        }

        .tf-btn {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            bottom: 44px;
        }
    }
}

.box-imgae_v01 {
    position: relative;

    .content {
        position: absolute;
        inset: 0;
        padding: 32px;

        @include res(lg) {
            padding: 24px 15px;
        }
    }

    &.large {
        .content {
            padding: 52px;

            @include res(lg) {
                padding: 24px 15px;
            }

        }
    }
}

.wrap-marquee-slide {
    .marquee-inner {
        display: flex !important;
        align-items: center;
        gap: 60px;
        margin-right: 60px;
        color: #c7c7c7;

        .title {
            color: #c7c7c7;
            text-transform: uppercase;
        }

        i {
            font-size: 40px;
        }
    }
}

.sidebar-account-wrap {
    @include res(xxl, min) {
        padding-left: 96px;
    }
}

.box-check {
    padding: 20px 15px;
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    border: 1px solid var(--Line);

    .number {
        font-size: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: var(--Primary);
        color: var(--White);
    }

    .name-type {
        font-weight: normal;
        text-transform: uppercase;
        @include flex(center, center);
        gap: 10px;
        margin-bottom: 8px;
    }


    &:hover {
        color: var(--Primary);
        border-color: var(--Primary);
    }

    @include res(xl, min) {
        padding: 40px;

        .number {
            margin-bottom: 32px;
        }
    }
}

.box-check-list {
    display: flex;
    gap: 24px;

    >* {
        width: 100%;
    }

    @include res(sm) {
        flex-wrap: wrap;
        gap: 15px;
    }
}

.my-account-nav {
    display: grid;

    .link-account {
        padding: 15px;
        text-transform: uppercase;
        width: 100%;
        font-size: 16px;
        line-height: 24px;

        &:hover,
        &.active {
            background-color: var(--Secondary);
            color: var(--White);

        }
    }

    .text {
        max-width: 220px;
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    @include res(xl, min) {
        max-width: 357px;
        width: 100%;
    }
}

.my-acount-content {
    .heading {
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    @include res(xl, min) {
        max-width: 912px;
        width: 100%;
    }
}

.account-dashboard {
    .heading {
        text-transform: none;
    }

    >* {
        &:not(:last-child, .heading) {
            margin-bottom: 30px;
        }
    }

    .banner_V02 {
        .title {
            font-size: clamp(24px, 2.8vw, 32px);
            line-height: clamp(28px, 3.5vw, 42px);
            margin-bottom: 12px;
        }
    }

    @include res(lg, min) {
        .banner_V02 {
            .bn-content {
                padding: 60px 15px;
            }
        }
    }

    @include res(xl, min) {
        >* {
            &:not(:last-child, .heading) {
                margin-bottom: 48px;
            }
        }

        .banner_V02 {
            .bn-content {
                padding: 68px 59px 71px 60px;
            }
        }
    }
}

.account-order {
    &.empty {
        @include flex(center, center);
        flex-direction: column;
        text-align: center;

        .title {
            margin-bottom: 16px;
        }
    }

    .ic-img {
        margin-bottom: 0px;
    }

    .title {
        text-transform: uppercase;
        // margin-bottom: 16px;
    }

    .sub-title {
        color: var(--main-4);
        margin-bottom: 16px;
    }

    @include res(xl, min) {
        &.empty {
            max-width: 623px;
            width: 100%;
        }

        .ic-img {
            margin-bottom: 40px;
        }

        .title {
            // margin-bottom: 16px;
        }

        .sub-title {
            margin-bottom: 32px;
        }
    }
}

.table-order-history {
    text-align: center;
    overflow: auto;
    white-space: nowrap;

    .title-case {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
    }


    thead {
        background-color: var(--Line);
    }


    tr {
        th {
            &:not(:first-child) {
                border-left: 1px solid var(--White);
            }
        }
    }

    tbody {
        tr {
            background-color: transparent;
            border-bottom: 1px solid var(--Line);
        }
    }

    .btn-action {
        font-size: clamp(20px, 2.8vw, 32px);
        display: flex;
        justify-content: center;
    }

    td {
        font-size: 16px;
        line-height: 24px;
    }

    @include res(xl, min) {

        td {
            padding: 16px 0px 15px;
            vertical-align: middle;
        }

        th {
            padding: 16px;
        }

        th,
        td {
            text-align: center;

            &:nth-child(1) {
                width: 196px;
            }

            &:nth-child(2) {
                width: 234px;
            }

            &:nth-child(3) {
                width: 162px;
            }

            &:nth-child(4) {
                width: 169px;
            }

            &:nth-child(5) {
                width: 150px;
            }
        }

    }
}