@use "./abstracts/index" as *;

.tf-countdown {
    &.style-defaut {
        text-transform: uppercase;
        .countdown__timer {
            display: flex;
            gap: 4px;
        }
    }
}

.box-icon_v01 {
    display: flex;
    align-items: center;
    gap: 24px;

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        border: 1px solid var(--Line);
        border-radius: 50%;
        font-size: 42px;
    }

    &.style-col {
        flex-direction: column;
        align-items: start;
        gap: 34px;

        .icon {
            width: unset;
            height: unset;
            border: unset;
            font-size: 64px;
        }
    }
}

.collection-item {
    &.style-default {
        .img-style {
            width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title {
            font-size: 16px;
            line-height: 34px;
        }
    }
    &.style-1 {
        .btn_link {
            padding: 4px 0;
        }
    }
}

.wrap-category-text {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 100px;
    justify-content: center;
}

.category-text {
    display: flex;
    gap: 14px;
    text-transform: uppercase;
    color: var(--Secondary);
    opacity: 0.5;
    @include transition5();
    .sub {
        @include res(xl, min) {
            line-height: 32px;
        }
    }

    &:hover {
        opacity: 1;
    }
}

.gallery-item {
    position: relative;
    overflow: hidden;
    display: flex;

    .box-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--Secondary);
        position: absolute;
        z-index: 2;
        @include center;
        @include flex(center, center);
        color: var(--White);
        font-size: 20px;

        &:hover {
            background-color: var(--White);
            color: var(--Secondary);
        }
    }

    .image {
        position: relative;
        &::after {
            position: absolute;
            content: "";
            inset: 0;
            backdrop-filter: blur(10px);
            background: #ffffff1a;
            opacity: 0;
            @include transition5();
        }
    }

    &:hover {
        .image {
            &::after {
                opacity: 1;
            }
        }
    }

    @include res(lg, min) {
        .box-icon {
            @include hidden;
        }

        &:hover {
            .box-icon {
                @include visible;
            }
        }
    }

    @include res(xl, min) {
        .box-icon {
            width: 64px;
            height: 64px;
        }
    }
}

.category-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .img-style {
        border-radius: 50%;
        overflow: hidden;
    }
    &.style-2 {
        .img-style {
            border-radius: unset;
            overflow: hidden;
        }

        .link {
            @include transition3();
            span {
                margin-right: -26px;
            }

            i {
                opacity: 0;
            }

            &:hover {
                span {
                    margin-right: 0;
                }

                i {
                    opacity: 1;
                }
            }
        }
    }
}

.count-down_v01 {
    padding: 16px 8px;
    border: 1px solid #b5b5b5;

    .countdown__timer {
        display: flex;
        gap: 15px;
    }

    .countdown__item {
        width: 102px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .countdown__value {
        color: var(--Primary);
    }

    .countdown__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--Secondary);
    }

    .countdown__custom--element {
        width: 4px;
        position: relative;
    }

    .countdown__custom--css {
        height: 16px;
        display: block;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);

        &::after,
        &::before {
            content: "";
            position: absolute;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: var(--Secondary);
        }

        &::after {
            top: 0;
        }

        &::before {
            bottom: 0;
        }
    }

    @include res(xl, min) {
        .countdown__timer {
            gap: 33px;
        }

        .countdown__custom--element {
            width: 6px;
        }

        .countdown__custom--css {
            height: 16px;

            &::after,
            &::before {
                width: 3px;
                height: 3px;
            }
        }
    }

    @include res(sm) {
        .countdown__timer {
            gap: 8px;
        }
    }
}

.colection-item {
    &.style-1 {
        position: relative;

        .img-style {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                position: absolute;
                inset: 0;
                content: "";
                background: #00000033;
            }
        }

        .content {
            position: absolute;
            @include center();
            z-index: 1;
        }

        .title {
            margin-bottom: 13px;
        }

        .tf-btn {
            margin-top: 40px;
        }
    }
    &.style-2 {
        position: relative;

        .content {
            padding: 40px 40px 42px;
            background-color: var(--Primary);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 435px;
            gap: 30px;

            a {
                gap: 21px;
                --underline-height: 1px;
                i {
                    font-size: 14px;
                }
            }
        }

        .tf-btn {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 44px;
        }
    }
}

.box-imgae_v01 {
    position: relative;

    .content {
        position: absolute;
        inset: 0;
        padding: 32px;
    }

    &.large {
        .content {
            padding: 52px;
        }
    }
}

.wrap-marquee-slide {
    .marquee-inner {
        display: flex !important;
        align-items: center;
        gap: 60px;
        margin-right: 60px;
        color: #c7c7c7 ;
        .title {
            color: #c7c7c7 ;
            text-transform: uppercase;
        }
        i {
            font-size: 40px;
        }
    }
}
