@use "../abstracts/index" as *;

.blog-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    .img-style {
        position: relative;
    }

    .content {
        flex: 1;
    }

    .title {
        text-transform: uppercase;
    }

    .meta {
        li {
            &:not(:last-child) {
                position: relative;
                display: flex;
                align-items: center;
                gap: 20px;
                &::after {
                    content: "";
                    position: relative;
                    width: 1px;
                    height: 16px;
                    background-color: var(--Line-2);
                    margin-right: 20px;
                }
            }
        }
    }

    .wrap-tag {
        position: absolute;
        bottom: 12px;
        left: 12px;
        .tag {
            padding: 6px 10px;
            background-color: var(--White);
        }
    }

    .btn-readmore {
        padding: 4px 0;
        text-transform: uppercase;
        i {
            font-size: 10px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &.style-list {
        display: flex;
        gap: 30px;
        flex-direction: row;
        align-items: center;

        .content {
            justify-content: unset;
        }
    }
}

.tf-sidebar {
    @include res(xl, min) {
        max-width: 366px;
    }

    .sb-item {
        &:not(:last-child) {
            padding-bottom: 32px;
            margin-bottom: 32px;
            border-bottom: 1px solid var(--Line-2);
        }
    }

    .wrap-tag {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        li {
            &:not(:first-child) {
                position: relative;
                display: flex;
                align-items: center;
                gap: 10px;
                &::before {
                    color: var(--Body-text-2);
                    position: relative;
                    content: "/";
                }
            }
        }
    }

    .sb-author {
        background-color: #fff4e8;
        padding: 24px 15px;

        .avatar {
            margin-bottom: 22px;
        }

        .info {
            margin-bottom: 22px;
            @include res(lg, min) {
                margin-bottom: 40px;
            }
        }

        .social {
            display: flex;
            gap: 15px;
            justify-content: center;
            a {
                height: 38px;
                width: 38px;
                border: 1px solid #9a9a9a;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                @include transition3();

                &:hover {
                    background-color: var(--Primary);
                    color: var(--White);
                    border-color: var(--Primary);
                }
            }
        }
    }
}

.post-detail {
    .list-info-post {
        display: flex;
        gap: 12px 20px;
        flex-wrap: wrap;
        margin-bottom: 24px;

        @include res(md, min) {
            column-gap: 40px;
            margin-bottom: 40px;
        }

        i {
            width: 38px;
            height: 38px;
            background-color: var(--Secondary);
            font-size: 18px;
            color: var(--White);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .item-post {
        .list {
            padding-left: 30px;
            li {
                list-style: disc;
            }
        }

        .tf-grid-layout {
            margin-top: 24px;
            @include res(lg, min) {
                margin-top: 40px;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
        }

        &:not(:last-child) {
            margin-bottom: 40px;
            @include res(lg, min) {
                margin-bottom: 64px;
            }
        }
    }

    .btn_link {
        padding: 4px 0;
    }
}

.tag-share {
    margin-bottom: 24px;
    @include res(md, min) {
        margin-bottom: 32px;
    }

    .tags-item {
        padding: 6px 12px;
        background-color: var(--Primary);
        color: var(--White);
        font-size: 14px;
        line-height: 20px;
        @include transition4();
        &:hover {
            background-color: var(--Secondary);
        }
    }
}

.tf-article-navigation {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--Line-2);
    border-bottom: 1px solid var(--Line-2);
    padding: 24px 0;
    @include res(md, min) {
        padding: 32px 0;
    }
}

.btn-article-navigation {
    height: 46px;
    width: 184px;
    border: 1px solid var(--Line);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 26px;
    color: var(--Secondary);
    @include transition4();
    @include res(md) {
        width: 160px;
    }
    &:hover {
        background-color: var(--Secondary);
        border-color: var(--Secondary);
        color: var(--White);
    }
}

.wg-recent {
    display: flex;
    gap: 20px;

    @include res(md) {
        gap: 12px;
    }

    .img-style {
        flex-shrink: 0;
    }
}

.blog-detail_add_review {
    display: grid;
    gap: 32px;

    .form-action {
        margin-top: 32px;
    }
}

.s-blog-grid-s1 {
    .tf-grid-layout {
        margin-bottom: 40px;
        @include res(lg, min) {
            row-gap: 64px;
            margin-bottom: 80px;
        }
    }
}

.s-blog-grid-s3 {
    .tf-grid-layout {
        margin-top: 32px;
        border-top: 1px solid var(--Line-2);
        padding-top: 80px;
        margin-bottom: 110px;

        @include res(llg, min) {
            row-gap: 122px;
        }
    }
}

.s-blog-post {
    margin-bottom: 48px;

    .row {
        @include res(lg) {
            gap: 60px;
        }
    }

    .box-right {
        @include res(lg, min) {
            max-width: 1088px;
            margin-left: auto;
        }
    }

    .page-title {
        font-size: 36px;
        line-height: 46px;
        text-transform: uppercase;
    }

    .post-detail {
        margin-bottom: 88px;
    }

    .bot {
        margin-bottom: 120px;
    }

    @include res(lg) {
        .post-detail,
        .bot {
            margin-bottom: 60px;
        }
    }
}
