@use "../abstracts/index" as *;

.tf-btn {
    font-size: 16px;
    line-height: 24px;
    padding: 14px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: max-content;
    font-weight: 500;
    i {
        font-size: 24px;
    }

    &.btn-bg-primary {
        background-color: var(--Primary);
        color: var(--White);
    }

    &.btn-bg-secondary {
        background-color: var(--Secondary);
        color: var(--White);
    }

    &.btn-bg-third {
        background-color: var(--Third);
        color: var(--White);
    }

    &.btn-bg-white {
        background-color: var(--White);
        color: var(--Secondary);
    }

    &.btn-border {
        border: 1px solid var(--Line);
    }

    &.btn-border-primary {
        border: 1px solid var(--Primary);
        color: var(--Primary);
    }


    &.btn-rounded {
        border-radius: 30px;
    }
    &.btn-px-40 {
        @include res(md, min) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    &.btn-px-70 {
        @include res(md, min) {
            padding-left: 70px;
            padding-right: 70px;
        }
    }
}

.btn_link {
    padding: 4px 0;
    i {
        font-size: 10px;
    }
}

.animate-btn {
    position: relative;
    overflow: hidden;

    &:hover {
        &::after {
            animation: shine-reverse 1s forwards;
        }
    }
}

.animate-btn:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100%;
    opacity: 0.6;
}

button.animate-btn::after,
.animate-btn.tf-btn::after {
    background-image: linear-gradient(
        120deg,
        rgba(0, 0, 0, 0) 20%,
        rgba(255, 255, 255, 0.4),
        rgba(0, 0, 0, 0) 70%
    );
}

.animate-btn.animate-dark::after {
    background-image: linear-gradient(
        90deg,
        transparent,
        rgb(0 0 0 /0.25),
        transparent
    );
}
