@use "../abstracts/index" as *;

.footer {
    background-color: var(--Primary);
    .wrap-footer-col-block {
        display: flex;
        justify-content: space-between;
    }

    .wrap-footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .right {
            gap: 48px;
        }
    }

    .footer-about{
       > a{
            padding: 6px 0;
        }
    }

    .footer-body {
        padding: 80px 0;
    }

    .footer-bottom {
        padding: 24px 0;
        border-top: 1px solid var(--Line);
    }

    &.style-2{
        background-color: var(--White);
    }

    &.style-3{
        background-color: var(--Secondary);

        .form-newsletter .btn-submit {
            background-color: var(--Primary);
        }
    }
}
