@use "../abstracts/index"as *;

.footer {
    background-color: var(--Primary);

    .row {
        row-gap: 40px;
    }


    .wrap-footer-col-block {
        display: flex;
        justify-content: space-between;

        @include res(lg, min) {
            margin-left: 39px;
            margin-right: 40px;
        }

        @include res(xl, min) {
            margin-right: 138px;
        }
    }

    .footer-heading {
        text-transform: uppercase;
    }


    .wrap-footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include res(lg) {
            flex-direction: column;
            gap: 12px;
        }

        .right {
            gap: 48px;
        }

    }

    .footer-newsletter {
        @include res(xxl, min) {
            margin-left: -17px;
        }
    }

    .footer-about {
        >a {
            padding: 6px 0;
        }

        @include res(xl, min) {
            padding-right: 40px;
        }
    }

    .footer-body {
        padding: 80px 0 88px;

        @include res(md) {
            padding: 60px 0 60px;
        }
    }

    .footer-bottom {
        padding: 24px 0;
        border-top: 1px solid #FFFFFF4D;
    }

    &.style-2 {
        background-color: var(--White);

        .footer-body {
            @include res(lg, min) {

                padding: 93px 0 95px;
            }
        }

        .footer-bottom {
            border-color: #B0B0B04D;
        }

        @include res(xl, min) {
            .wrap-footer-col-block {
                margin-top: 7px;
                margin-left: 157px;
                margin-right: 55px;
            }

            .footer-newsletter {
                padding-top: 8px;
                margin-left: 43px;
                max-width: 399px;

                .tf-btn {
                    padding: 10px 30px;
                }
            }


        }

    }

    &.style-3 {
        background-color: var(--Secondary);

        .form-newsletter .btn-submit {
            background-color: var(--Primary);
        }
    }
}