@use "../abstracts/index"as *;

.tf-pin-btn {
    cursor: pointer;
    @include transition3;
    position: relative;

    span {
        display: block;
        width: 19px;
        height: 19px;
        border: 6px solid var(--White);
        border-radius: 50%;
        background-color: #504e4e;
        @include transition3;

        &:hover {

            &::after,
            &::before {
                position: absolute;
                content: "";
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border: solid 1px var(--white);
                border-radius: 50%;
            }

            &::before {
                animation: ripple-line 2s linear infinite;
            }

            &::after {
                animation: ripple-line 2s 1s linear infinite;
            }
        }
    }

    &.style-lg {
        span {
            width: 28px;
            height: 28px;
        }
    }

    &.style-hover {
        &:hover {
            span {
                background-color: var(--primary);
            }
        }
    }

    &.style-dark {
        width: 28px;
        height: 28px;
        background-color: var(--white);
        @include flex(center, center);
        border-radius: 50%;

        span {
            background-color: var(--dark);
            width: 12px;
            height: 12px;
            border: 0;
            @include transition3;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.7);

            span {
                background-color: var(--primary);
            }
        }
    }
}

.loobook-product {
    padding: 16px 20px;
    background-color: var(--White);
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    margin: 5px 0;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        width: 100%;
    }

    .info {
        display: grid;
        gap: 4px;
        text-align: start;
    }

    .price-wrap {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .img-style {
        border-radius: 0;
        flex-shrink: 0;
        overflow: hidden;
    }

    .icon {
        height: 48px;
        width: 48px;
        border-radius: 50%;
        background-color: var(--White);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        @include transition3;

        &:hover {
            background-color: var(--Secondary);
            color: var(--White);
        }
    }

    &.style-row {
        flex-direction: row;

        .img-style {
            max-width: 71px;
        }

        &.v1 {
            background-color: #3f3f3f66;
            max-width: 385px;
            position: relative;
            margin: 0;
            position: absolute;
            left: 14px;
            bottom: 14px;
            backdrop-filter: blur(10px);
            justify-content: space-between;
            width: 100%;
        }
    }
}

.dropup {
    .loobook-product {
        margin-bottom: 20px;
        margin-top: 20px;

        &::before {
            border-color: var(--white) transparent transparent transparent;
            bottom: -4%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.lookbook-item {
    .dropdown-menu {
        --bs-dropdown-min-width: 314px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
    }
}

.s-banner-lookbook {
    position: relative;
    overflow: hidden;
    background-color: #f9f9f9;

    img {
        width: 100%;

        object-fit: cover;
    }

    .img-banner {
        min-height: 450px;
    }

    .lookbook-item {
        position: absolute;
        --hotspot-width: 19px;
        inset-inline-start: var(--hotspot-x);
        inset-block-start: var(--hotspot-y);
        margin-inline-start: calc(var(--hotspot-width) / -2);
        margin-block-start: calc(var(--hotspot-width) / -2);

        &.position1 {
            --hotspot-x: 18%;
            --hotspot-y: 24%;
        }

        &.position2 {
            --hotspot-x: 67%;
            --hotspot-y: 86%;
        }
    }

    .sw-button {
        position: absolute;
        top: 50%;

        &.nav-prev-layout {
            left: -60px;
        }

        &.nav-next-layout {
            right: -60px;
        }
    }
}

.s-banner-lookbook-v02 {
    .lookbook-item {
        position: relative;

        .tf-pin-btn {
            position: absolute;
            --hotspot-width: 19px;
            inset-inline-start: var(--hotspot-x);
            inset-block-start: var(--hotspot-y);
            margin-inline-start: calc(var(--hotspot-width) / -2);
            margin-block-start: calc(var(--hotspot-width) / -2);
        }

        &.position1 {
            .tf-pin-btn {
                --hotspot-x: 64%;
                --hotspot-y: 61%;
            }
        }

        &.position2 {
            .tf-pin-btn {
                --hotspot-x: 55%;
                --hotspot-y: 49%;
            }
        }

        &.position3 {
            .tf-pin-btn {
                --hotspot-x: 32%;
                --hotspot-y: 63%;
            }
        }
    }

    .loobook-product {
        opacity: 0;
        @include transition3;
    }

    .swiper-slide-active {
        .loobook-product {
            opacity: 1;
        }
    }

    .sw-dots {
        @include res(lg, min) {
            margin-top: 38px;
        }

        .swiper-pagination-bullet {
            height: 12px;
            width: 12px;
        }
    }
}