@use "../abstracts/index"as *;

.icon-grid-2 {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr;

    span {
        display: inline-block;
        width: 5px;
        height: 23px;
        background-color: #e0e0e0;
        @include transition3;
    }
}

.icon-grid-3 {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;

    span {
        display: inline-block;
        width: 5px;
        height: 23px;
        background-color: #e0e0e0;
        @include transition3;
    }
}

.icon-grid-4 {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);

    span {
        display: inline-block;
        width: 5px;
        height: 23px;
        background-color: #e0e0e0;
        @include transition3;
    }
}

.tf-btn-filter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--Line);
    border-radius: 999px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding: 0px 24px;
    height: 50px;
    color: var(--Secondary);
    background-color: transparent;
    @include transition3();

    .icon {
        font-size: 24px;
    }


    @include res(md) {
        height: 42px;
        font-size: 16px;
        line-height: 24px;
    }

    &.active,
    &:hover {
        background-color: var(--Primary);
        border-color: var(--Primary);
        color: var(--Secondary);
    }
}

.tf-control-layout {
    display: flex;
    align-items: center;
    gap: 15px;

    .tf-view-layout-switch {
        @include flex(center, center);
        @include transition3;
        cursor: pointer;

        &:hover,
        &.active {
            .item {
                span {
                    background-color: var(--Secondary);
                }
            }
        }
    }

    @include res(lg, min) {
        gap: 24px;
    }
}

.meta-filter-shop {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    margin-bottom: 64px;

    #applied-filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filter-tag,
    .remove-all-filters {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        gap: 14px;
        padding: 6px 20px;
        border-radius: 30px;
        color: var(--Secondary);
        @include transition3;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        background-color: var(--Line);

        .icon {
            font-size: 10px;
        }

        &:hover {
            background: var(--Primary);
            color: var(--White);
        }

        @include res(sm) {
            gap: 6px;
            padding: 6px 12px;
        }
    }

    .remove-all-filters {
        background-color: var(--Secondary);
        color: var(--White);
    }

    &.type-drop {
        margin-bottom: 20px;
    }

    @include res(lg) {
        margin-bottom: 30px;
    }
}

.widget-facet {
    &:not(:last-child) {
        border-bottom: 1px solid var(--line);
    }

    .tf-check {
        &.style-2 {
            &:checked {
                border-color: var(--main);
                background-color: var(--main);

                &::before {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }

    .facet-title {
        @include flex(center, space-between);
        padding: 16px 0px;
        margin-bottom: 16px;
        @include transition3;

        .icon {
            &::before {
                transform: rotate(90deg);
            }

            &::after {
                transform: rotate(180deg);
            }
        }

        &.collapsed {
            margin-bottom: 0px;

            .icon {
                &::before {
                    transform: rotate(0deg);
                }

                &::after {
                    transform: rotate(0deg);
                }
            }
        }
    }

    .tf-social-icon {
        a {
            span {
                font-size: 12px;
            }

            @include res(xl, min) {
                height: 47px;
                width: 47px;
            }
        }
    }

    &:first-child {
        .facet-title {
            padding-top: 0;
        }
    }
}

.sidebar-filter {

    background-color: var(--White);
    transition: transform 0.3s ease-in-out;

    .canvas-body {
        padding: 0 15px;
    }

    .widget-facet {
        &:not(:last-child) {
            padding-bottom: 31px;
            border-bottom: 1px solid var(--Line);
            margin-bottom: 10px;
        }
    }

    @include res(xl, min) {
        .canvas-body {
            padding: 0;
        }
    }

    @include res(xl) {
        position: fixed;
        bottom: 0;
        z-index: 3000;
        display: flex;
        flex-direction: column;
        background-clip: padding-box;
        outline: 0;

        &.left {
            top: 0;
            left: 0;
            transform: translateX(-100%);
        }

        &.right {
            top: 0;
            right: 0;
            transform: translateX(100%);
        }

        &.show {
            transform: none;
        }
    }
}

.widget-price {
    display: grid;
    gap: 17px;

    .price-val-range {
        padding: 0px 8px;
        margin: 7px 0px;
    }

    .price-box,
    .box-value-price {
        display: flex;
        gap: 8px;
    }

    .price-box {
        color: var(--primary);
        display: flex;
        align-items: center;
        gap: 16px;

        .line-price {
            display: block;
            width: 12px;
            height: 1px;
            background-color: var(--Secondary);
        }
    }

    .price-val {
        font-size: 16px;
        line-height: 24px;
        color: var(--black);
        position: relative;
        padding: 8px 10px;
        border: 1px solid var(--Line);
        width: 77px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;

        &::before {
            content: attr(data-currency);
        }
    }

    .box-value-price {
        display: flex;
        align-items: center;
    }

    @include res(xl, min) {


        .box-value-price {
            gap: 18px;
        }
    }
}

.filter-group-check {
    &.group-category {
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: var(--text);
        }
    }

    .list-item {
        display: flex;
        gap: 15px;
        align-items: center;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .label {
        cursor: pointer;
        display: flex;
        align-items: center;

        gap: 14px;
        width: 100%;

        span {
            color: var(--Body-text-1);
        }

    }

    @include res(xl, min) {
        .list-item {
            font-size: 16px;
            line-height: 24px;
            color: var(--Secondary);
        }
    }
}

.listLayout-wrapper {
    #product-count-grid {
        display: none;
    }

    #product-count-list {
        display: block;
    }
}

.gridLayout-wrapper {
    #product-count-grid {
        display: block;
    }

    #product-count-list {
        display: none;
    }
}

.tf-shop-control {

    .wrapper-shop {
        gap: 40px 10px;

        @include res(lg, min) {
            gap: 64px 10px;

            margin-left: -6px;
        }
    }

    &.style-2 {
        .tf-btn-filter {
            padding: 0;
            border: 0;
            background: unset;
            height: unset;

            &:hover {
                color: var(--Primary);
            }

            @include res(lg, min) {
                font-size: 24px;
                line-height: 32px;
            }
        }
    }

    .btn-loadmore {
        max-width: 253px;
        width: 100%;

        .text {
            text-transform: uppercase;
        }

        &:hover {
            background: var(--Secondary);
            color: var(--White);
        }
    }
}

.dd-filter-shop {
    max-width: max-content;

    .item-filter {
        padding: 8px 12px;
        border: 1px solid #11111126;
        font-size: 16px;
        line-height: 24px;
        border-radius: 30px;
        cursor: pointer;
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .filter-group-check {
        min-width: 320px;
        padding: 15px;
    }
}

.topbar-filter {
    .left {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .right {
        display: flex;
        justify-content: space-between;
    }

    .wrap-filter {
        gap: 12px 20px;
    }
}

.table-shop-cart {
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--black);
        height: 4px;
    }

    .order_price,
    .order_subtotal {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
    }


    .order_quantity {
        display: flex;
        align-items: center;
        gap: 10px;

        .remove{
            cursor: pointer;
        }
    }

    tr {
        border-bottom: 1px solid var(--line-8);
    }

    @include res(xl, min) {
        .order_quantity {
            gap: 24px;
        }

        td {

            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(3) {
                padding-top: 24px;
                padding-bottom: 24px;
            }

            &:nth-child(3) {
                padding-left: 0;
                padding-right: 0;
            }
        }


        td,
        th {
            &:last-child {
                min-width: unset;
            }
        }
    }
}

.table-order-detail {
    overflow-y: auto;
    @include transition3;

    &.account {
        border-bottom: 1px solid var(--main);

        &::-webkit-scrollbar-thumb {
            background-color: #AEAEAE;
        }

        tr,
        td {
            padding: 24px;
        }
    }

    &::-webkit-scrollbar {
        width: 4px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary);
        cursor: grab;
    }

    .order_subtotal {
        text-align: end;
    }

    thead {
        border-bottom: 1px solid var(--Secondary);

        th {
            text-transform: uppercase;
        }
    }

    tbody {

        tr {
            background-color: var(--White) !important;
        }

        border-bottom: 1px solid #EBEBEB;
    }

    tfoot {
        position: sticky;
        bottom: 0px;
        background-color: var(--white);
        border-color: var(--white);
    }

    th,
    td {
        padding: 10px;

        &:nth-child(1) {
            min-width: 300px;

        }

        &:nth-child(2) {
            min-width: 100px;
        }

        &:nth-child(3) {
            min-width: 100px;
        }

        &:nth-child(4) {
            min-width: 100px;
        }

        @include res(xl, min) {
            padding: 16px 24px;

            &:nth-child(1) {
                width: 443px;
            }

            &:nth-child(2) {
                min-width: 183px;
                width: 183px;
            }

            &:nth-child(3) {
                min-width: 184px;
                width: 184px;
            }

            &:nth-child(4) {
                min-width: 220px;
            }
        }
    }

    tr {

        &:not(:last-child) {}
    }

    td {
        vertical-align: top;

        &:first-child {
            padding-inline: 0px;
        }
    }

    .order_product {
        display: flex;
        gap: 10px;

        .image {
            max-width: 100px;

            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1;
            }
        }

        .infor {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        @include res(xl, min) {
            gap: 20px;

            .image {
                max-width: 120px;
            }
        }
    }

    .order_item {

        &:first-child {
            td {
                padding-top: 32px;
            }
        }

        &:last-child {
            td {
                padding-bottom: 32px;
            }
        }

        td {
            padding-block: 24px;
        }

    }
}

.s-shop-cart {
    .left {
        display: grid;
        gap: 20px;
        margin-bottom: 30px;
    }

    .tes-slider {
        padding: 30px 15px;
        background: var(--linear-4);
    }

    .checkout-sidebar {
        margin-bottom: 24px;
    }

    @include res(lg, min) {
        .tes-slider {
            padding: 32px;
        }
    }

    @include res(xl, min) {
        .left {
            gap: 32px;
        }
    }

    @include res(xxl, min) {
        .left {
            margin-right: -27px;
        }

        .right {
            padding-left: 22px;
        }
    }
}

.checkout-sidebar {
    padding: 30px 15px;
    border: 1px solid var(--Line);
    

    .br-line {
        background-color: var(--Line);
        width: 100%;
        height: 1px;
        display: block;
    }

    .title-total {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .form-checkout-sidebar {
        margin-bottom: 24px;
    }

    .text-we-accept {
        margin-bottom: 12px;
    }



    @include res(lg, min) {


        padding: 32px;
    }
}